@import '../../styles/variables.scss';

.Loader {
	text-align: center;
	background: $color1;
	height: 100vh;
	width: 100vw;
	position: fixed;
	@include flexCenter;
	svg {
		max-width: 200px;
		height: auto;
	}
}
