.Loader {
  padding-top: 4rem;
  padding-bottom: 8rem;
  text-align: center;
  background: #000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    max-width: 200px;
    height: auto;
  }
}
