.Portfolio {
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    @media (max-width: 800px) {
      font-size: 1.5rem;
    }
  }
  a.back {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
    img {
      height: 20px;
      width: auto;
      display: inline-block;
      margin-bottom: -3px;
      margin-right: 3px;
    }
  }
  .grid {
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 1rem;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .Project {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000;
      border-radius: 10px;
      height: 200px;
      color: #fff;
      position: relative;
      overflow: hidden;
      @media (max-width: 800px) {
        height: 150px;
        grid-gap: 0.5rem;
      }

      .front {
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        text-align: center;
        transition: all 0.3s ease;

        padding: 30px;
        img {
          max-height: 80%;
          width: auto;
          height: auto;
          max-width: 50%;
        }
      }
      .back {
        transition: all 0.3s ease;
        color: #fff;
        font-weight: 400;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 30px;
        height: 100%;
        transform: translateY(100%);
        a {
          margin: 5px;
          display: inline-block;
          background: #fff;
          border-radius: 5px;
          padding: 5px 10px;
          text-decoration: none;
          color: #000;
          &:hover {
            background: #000;
            color: #fff;
          }
        }
      }
      &:hover .front {
        transition: all 0.3s ease;
        transform: translateY(-100%);
      }
      &:hover .back {
        transition: all 0.3s ease;
        transform: translateY(0%);
      }
    }
  }
}
