.Header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 1rem;
  align-items: center;

  .Logo {
    svg {
      height: 80px;
      width: auto;
    }
  }
  .Menu {
    ul {
      margin: 0;
      li {
        float: left;
        margin-right: 0.5rem;
        list-style: none;
        a {
          display: inline-block;
          transition: all 0.1s ease;

          svg {
            height: 2rem;
            width: auto;
          }
          &:hover {
            transition: all 0.1s ease;

            transform: scale(1.1);
          }
        }
      }
    }
  }
}
